<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="VRAC SketchUp Plugins Bundle" Language="1033" Version="$(var.ProductVersion)" UpgradeCode="83649497-E831-4F5A-A04E-F82AE12ECE91" Manufacturer="ISU VRAC">
        <Package Description="Installs a few useful SketchUp plugins." Comments="Comments" InstallerVersion="200" Compressed="yes" />
        <MajorUpgrade
            DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit."
			AllowSameVersionUpgrades="yes" />

        <!-- Find where SketchUp is installed, so we install to its plugin directory -->
        <Property Id="SKETCHUPINSTALLDIR">
            <RegistrySearch Id="SketchUpInstallDir" Type="directory" Win64="no" Root="HKLM" Key="Software\Google\Google SketchUp 8\InstallLocation" />
        </Property>
        <Property Id="SKETCHUPPLUGINDIR">
            <DirectorySearch Id="CheckSketchUpDirectory" Path="[SKETCHUPINSTALLDIR]" Depth="0">
                <DirectorySearch Id="CheckSketchUpPluginsDirectory" Path="Plugins" />
            </DirectorySearch>
        </Property>

        <!--
            Source media for the installation.
            Specifies a single cab file to be embedded in the installer's .msi.
        -->
        <Media Id="1" Cabinet="contents.cab" EmbedCab="yes" CompressionLevel="high" />

        <!-- Installation directory -->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="SKETCHUPPLUGINDIR" Name="SketchUpPluginDir" />
        </Directory>

		<Feature Id="thomthom" Title="Thomthom plugins" Description="Plugins by thomthom - all use/include TT_Lib2 version $(var.TTLib2Ver)." Level="1">
			<Feature Id="tt_cleanup" Title="tt_cleanup3 plugin" Description="Tool for a wide variety of geometry cleanups. Version $(var.TTCleanupVer)." Level="1">
				<ComponentGroupRef Id="tt_cleanup" />
				<ComponentGroupRef Id="TTLib2" />
			</Feature>
			<Feature Id="tt_explodeallimages" Title="tt_explodeallimages plugin" Description="Explodes all images, optionally hiding edges and grouping. Version $(var.TTExplodeAllImagesVer)." Level="1">
				<ComponentGroupRef Id="tt_explodeallimages" />
				<ComponentGroupRef Id="TTLib2" />
			</Feature>
			<Feature Id="tt_export2dwithalpha" Title="tt_export2dwithalpha plugin" Description="Adds a menu option to export a 2D image with alpha channel transparency (normally missing from SketchUp on Windows). Version $(var.TTExport2DWithAlphaVer)." Level="1">
				<ComponentGroupRef Id="tt_export2dwithalpha" />
				<ComponentGroupRef Id="TTLib2" />
			</Feature>
			<Feature Id="tt_guidetools" Title="tt_guidetools plugin" Description="A number of tools for interacting with/creating guides and construction points. Version $(var.TTGuideToolsVer)." Level="1">
				<ComponentGroupRef Id="tt_guidetools" />
				<ComponentGroupRef Id="TTLib2" />
			</Feature>
		</Feature>

		<Feature Id="fredo6" Title="Fredo6 plugins" Description="Plugins by Fredo6." Level="1">
			<Feature Id="JointPushPull" Title="JointPushPull plugin" Description="&quot;JointPushPull is a script that performs push pull on multiple faces in one operation.&quot;. Version $(var.JointPushPullVer)." Level="1">
				<ComponentGroupRef Id="JointPushPull" />
			</Feature>
			<Feature Id="ToolsOnSurface" Title="ToolsOnSurface plugin" Description="&quot;Tools on Surface is a Suite of Tools drawing on curved surfaces, with lines, various shapes, offset and Freehand / Polyline.&quot; Version $(var.ToolsOnSurfaceVer), includes LibFredo6 version $(var.LibFredo6Ver)." Level="1">
				<ComponentGroupRef Id="ToolsOnSurface" />
				<ComponentGroupRef Id="LibFredo6" />
			</Feature>
		</Feature>
		<Feature Id="SketchUpSTL" Title="SketchUp-STL import/export plugin" Description="&quot;SketchUp-STL combines import and export support for 3D models in STL (STereoLithography) format, often used for 3D printing.&quot;. Version $(var.SketchUpSTLVer)." Level="1">
			<ComponentGroupRef Id="SketchUpSTL" />
		</Feature>
        <!--
            Using the Wix UI library.
        -->
        <UIRef Id="WixUI_FeatureTree" />

        <!-- Check for admin rights -->
        <Condition Message="Administrator rights are required to install.">
            Privileged
        </Condition>
        <Condition Message="Could not find SketchUp 8 [SKETCHUPINSTALLDIR] - [SKETCHUPPLUGINDIR] , so will not install.">
            SKETCHUPPLUGINDIR
        </Condition>
    </Product>
</Wix>
